html, body {
  margin: 0px;
  overflow: hidden;
  height: 100%;
  font-family: "Noto Sans", NotoSans, sans-serif;
  -moz-user-select:none;
  background: #f4f5f5;
  overflow: hidden;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.topbutton {
	width: 10mm;
	height: 10mm;
	vertical-align: middle;
	font-size: 10mm;
	line-height: 10mm;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

#title, #title h1 {
  display: block;
	z-index: 3;
  position:fixed; top:0; left: 0; width: 100%; height: 28px;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  font-weight: 300;
  background: rgb(111, 2, 181);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#keypad {
	text-align: center;
	position: relative;
}
.key, .softkey, #joypad {
	font-size: 6mm;
	cursor: pointer;
	margin: 1px;
	height: 10mm;
	line-height: 10mm;
	width: 30%;
}

.num {
	width: 30%;
	padding-top: 1px;
}

#frame {
	display: block;
	z-index: 3;
	position: fixed; top: 28px; left: 0;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 58px);
	text-align: center;
}

#screen {
	border: none;
	display: inline-block;
	background-color: #fff;
	font-size: 1rem;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
	text-align: left;
}

#screen > canvas {
	height: 100%;
	max-width: 100%;
	margin: auto;
	display: block;
}

.item {
	display: block;
	padding: 1px 2px;
	text-align: left;
	border: none;
	white-space: nowrap;
}
.item.active {
	color: #eee;
	background: #111;
}

#top {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

#show {
	position: absolute;
	top: 0px;
	left: 0px;
}

#blanket-main {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: scroll;
}

#blanket-main .good {
	background: green;
}

#blanket-main .bad {
	background: red;
}

#alert {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#alert .message {
	width: 50%;
	background: #fffdf9;
	padding: 10mm;
	font-size: 1em;
	text-align: center;
	word-wrap: break-word;
	margin: 100px auto;
}

.dialog {
	background: #fffdf9;
	width: calc(90% - 20mm);
	height: calc(100% - 40mm);
	padding: 10mm;
	font-size: 6mm;
	word-wrap: break-word;
	margin: 10mm auto;
	border: 0.1rem solid #a6a6a6;
	border-radius: 0.2rem;
}

.TextEditor {
	position: absolute;
	display: none;
	border: none;
}

#softkeys {
	display: block; z-index: 13;
  position: fixed; bottom: 0; left: 0; width: 100%; height: 30px;
  background: #dadada;
  padding: 3px 5px;
}

#softkeys > * {
  display: inline-block;
  width: 72px;
  padding: 0 5px;
}

#choice, #back {
  font-weight: 400;
  font-size: 14px;
  color: #323232;
}

#back {
  text-align: right;
}

#ok {
  font-weight: 600;
  font-size: 16px;
  width: 76px;
  color: #323232;
  text-align: center;
	text-transform: uppercase;
}

#filepicker {
  position: fixed; top:28px; left: 0; width: 100%; height: calc(100% - 58px);
	display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.picker-file {
  display: block;
  background: #eee;
  color: #111;
  position: relative;
  width: 100%;
  height: 3em;
  padding: 0 5px;
}

.picker-file.active {
  background: rgb(101, 2, 171);
  color: #ffffff;
}

body.halfscreen #title {
	display: none;
}

body.halfscreen #frame {
	height: calc(100% - 30px);
	top: 0;
}

body.fullscreen #title, body.fullscreen #softkeys {
	display: none;
}

body.fullscreen #frame {
	height: 100%;
	top: 0;
}